.logo img {
    margin: 26px;
    height: 70px;
    width: 70px;
    color: black;
    background-color: blanchedalmond;
}

.button1 {
    background-color: black;
    color: gold;
    border: 0px;
    padding-right: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: relative;
    width: 100%;
}

.contect {
    width: 140px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: gold;
    margin-top: 30px;
}

.nav {
    margin-top: 40px;
}

.background {
    background-image: url(img/scenic-photos-mountains-forests-oceans-sunsets-natural-settings_1165092-1344.avif);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-around;
}

.box {
    width: 100%;
    height: 700px;
    background-color: black;
    opacity: 0.7;
    position: absolute;
}

.pro img {
    width: 600px;
    height: 400px;
    position: relative;
    display: flex;
    margin-top: 120px;
    border-radius: 20px;
}

.xpbox {
    background-color: black;
    color: white;
    position: relative;
    bottom: 61px;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    padding: 25px;
    left: 462px;
    color: gold;
}

.project {
    width: 120px;
    height: 60px;
    background-color: black;
    color: white;
    position: relative;
    bottom: 546px;
    right: 76px;
    border-radius: 20px;
    padding: 30px;
    color: gold;
}

#fblack {
    color: rgb(255, 255, 255);
    position: relative;
}

#gold {
    color: gold;
    position: relative;
}

.more-1 {
    font-size: 40px;
}

.more-2 {
    font-size: 40px;
}

.more-3 {
    font-size: 40px;
}

.more-info {
    margin-top: 200px;
}

.f500 {
    font-size: 34px;
    color: white;
    padding-left: 15px;
}

.f4 {
    font-size: 34px;
    color: white;
    padding-left: 50px;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: black;
}

#welcome {
    color: gold;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.container iframe {
    width: 100%;
    height: 300px;
}

.work-2 {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    padding-top: 10px;
}

.welcome-2 {
    padding-top: 60px;
    color: gold;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Media Queries for Responsiveness */

@media screen and (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr;
        margin-left: 20px;
        gap: 20px;
    }
    .pro img {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .navbar,
    .nav {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .background {
        height: 500px;
    }
    .contect {
        width: 100px;
        height: 30px;
    }
    .pro img {
        width: 80%;
    }
    .xpbox,
    .project {
        width: 100px;
        height: 50px;
        padding: 15px;
        bottom: auto;
        left: auto;
        right: auto;
    }
    .more-1,
    .more-2,
    .more-3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .background,
    .box {
        height: 300px;
    }
    .pro img {
        width: 212px;
        margin-left: 35px;
        position: relative;
        top: 44px;
    }
    .navbar {
        justify-content: center;
    }
    .contect {
        width: 90px;
        height: 25px;
        margin-top: 10px;
    }
    .more-1,
    .more-2,
    .more-3 {
        font-size: 25px;
    }
    .f500,
    .f4 {
        font-size: 12px;
        padding-left: 31px;
    }
    .welcome-2 {
        font-size: 20px;
    }
    .work-2 {
        font-size: 30px;
    }
    .more-info {
        position: relative;
        top: -147px;
        font-size: 11px;
        right: -16px;
    }
    .xpbox {
        position: relative;
        top: 18px;
        width: 81px;
        height: 27px;
        left: 25px;
    }
    .xpbox,
    .project p {
        font-size: 10px;
        padding-left: 20px;
    }
    .project {
        position: relative;
        top: -40px;
        left: 147px;
        width: 81px;
        height: 27px;
    }
}

@media screen and (max-width: 400px) {
    #welcome {
        right: 20px;
    }
}